@mixin btn-styles ($background-color) {
    background-color: $background-color;
    border-radius: 5px;
    color: #F8FDFE;
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    padding: 8px;
    position: absolute;
    height: 32px;
}

@mixin title-styles ($color, $font-size, $font-weight, $line-height) {
    color: $color;
    font-size: $font-size;
    font-family: "Cabin", sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
    border-bottom: 2px solid #A8A8A8;
}

@mixin text-styles ($color, $font-size, $font-weight, $line-height) {
    color: $color;
    font-size: $font-size;
    font-family: "Cabin", sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin price-text ($color) {
    color: $color;
    font-size: 24px;
    font-family: Cabin, sans-serif;
    font-weight: 500;
    line-height: 32px;
}


@mixin text-btn {
    color: #F8FDFE;
    font-size: 16px;
    font-family: Cabin, sans-serif;
    line-height: 24px;
}

@mixin btn_end_add ($background-color) {
    width: 242px;
    height: 40px;
    background-color: $background-color;
    border-radius: 5px;
}