/* Colors */
$black-color: #000;
$white-color: #FFF;
$milky-color: #F8FDFE;
$beige-color: #EEEEEF;
$blue-background-color: #10bbd5;
$border-color: #A8A8A8;
$btn-hit-color: #4200FF;
$btn-new-color: #AF39E7;
$btn-discount-color: #EA33C0;
$price-color: #E90000;
$old-price-color: #8E8E8E;
$btn-add-color: #4C394E;
$btn-end-up-color: #4D762D;


