@import 'variables';

footer {
    height: 88px;
    background-color: $btn-add-color;
    color: $milky-color;
    font-size: 16px;
    font-family: Cabin, sans-serif;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 32px 52px;

    &::before {
        content: "\00A9";
    }

    & p {
        margin-left: auto;
    }
    
}