@import "mixins";
@import "variables";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu-1 {
    height: 72px;
    background-color: $blue-background-color;
    padding: 16px 0;

    &__nav {
        @include flex-center;
        height: 40px;
    }

    &__logo 
        img {
            display: flex;
        }
    
    &__nav 
        span {
            @include text-styles ($milky-color, 16px, 400, 24px);
            margin-left: auto;
            margin-right: 8px;
    }

    span::after {
        background-image: url("img/cart_icon.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        padding: 0;
        border: 0;
        background-size: contain;
        background-color: transparent;
    }
}

.menu-2 {
    height: 32px;
    background-color: $white-color;
    padding: 6px;

    &__nav {
        @include flex-center;
    }

    &__title {
        color: black;
    font-size: 16px;
    font-family: Cabin, sans-serif;
    line-height: 24px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    &__item {
        padding: 0 10px;
    }

    &__link {
        color: #000000;
        font-size: 16px;
        font-family: Cabin, sans-serif;
    }
}



