@import "header";
@import "mixins";
@import "variables";
@import "reset";
@import "footer";

.container {
    width: 1296px;
    margin: 0 auto;
}

main {
    background-color: $beige-color;
    margin-top: 100px;
    padding-bottom: 208px; 

    &__title,
    .title {
        color: #1F1F1F;
        font-size: 32px;
        font-family: Cabin, sans-serif;
        font-weight: 600;
        line-height: 40px;
        border-bottom: 2px solid #A8A8A8;
        padding: 58px 0;
    }
}

.row__nav {
    padding-top: 30px;
    .row { 
    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px; 
    }

    &__item {
        width: 306px;
        height: 512px;
        border: 2px solid #808080;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__image__link {
        display: flex;
        justify-content: center;
    }

    &__image {
        height: 280px;
        width: 178px;
        position: relative;
    }

    &__btn__hit {
        @include btn-styles ($btn-hit-color);
        width: 36px;
    }

    &__btn__new {
        @include btn-styles ($btn-new-color);
        width: 47px;
    }

    &__btn__discount {
        @include btn-styles ($btn-discount-color);
        width: 70px;
        margin-left: 40px;
    }

    &__btn__add {
        @include btn_end_add ($btn-add-color);
        a {
            @include text-btn;
        }
    }

    &__btn__end-up {
        @include btn_end_add ($btn-end-up-color);
        a {
            @include text-btn;
        }
    }
    &__book-title {
        color: #1F1F1F;
        font-size: 20px;
        font-family: Cabin, sans-serif;
        font-weight: 700;
        line-height: 28px;
        border-bottom: 2px solid #A8A8A8;
    }

    &__writer {
        color: #8E8E8E;
    font-size: 16px;
    font-family: Cabin, sans-serif;
    font-weight: 400;
    line-height: 24px;
    }

    &__price {
        @include price-text ($price-color);
    }

    &__price__old {
        @include price-text ($old-price-color);
        text-decoration: line-through;
        margin-left: 24px;
    }

    &__chat-icon {
        position: relative;
        width: 52px;
        height: 52px;
        margin-left: 250px;
        margin-top: -60px;
        border-radius: 50%;
        background-color: $blue-background-color;
        
    }

    &__chat-icon::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-image: url('/images/chat_icon.png');
        background-size: cover;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
}